 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000/home"> Hyoan's</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house-user"></i> Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-child-reaching"></i></i> About Me</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects"><i class="fa-solid fa-folder"></i></i> Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services"><i class="fa-solid fa-bell-concierge"></i></i> Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-at"></i></i></i></i> Contact</a>
          </li>

        
        </ul>
      
      </div>
    </div>
  </nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-1">
        <a class="navbar-brand" href="/home"></a>
        <a href="/home"> <img src="/Assets/images/default.png" width="140" height="70"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
              <li class="nav-item"><a class="nav-link <%= (page == 'home') ? 'active' : '' ; %>"  href="/home">Home</a></li> 
                <li class="nav-item"><a class="nav-link <%= (page == 'about') ? 'active' : '' ; %>" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link <%= (page == 'projects') ? 'active' : '' ; %>" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link <%= (page == 'services') ? 'active' : '' ; %>" href="/services">Services</a></li>
                <li class="nav-item"><a class="nav-link <%= (page == 'contact') ? 'active' : '' ; %>" href="/contact">Contact</a></li>

                <% if(displayName) { %>
                  <li class="nav-item">
                    <a class="nav-link <%= (page == 'movie-list') ? 'active' : ''; %>" aria-current="page" href="/movie-list"><i class="fa-solid fa-table-list fa-lg"></i> Movie List</a>
                  </li>
      
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i> Logout</a>
                  </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link <%= (page == 'login') ? 'active' : ''; %>" aria-current="page" href="/login"><i class="fa-solid fa-right-to-bracket fa-lg"></i> Login</a>
                  </li>
                <% } %>
      
             
           
               
         
               
         
            </ul>
        </div>
    </div>
</nav>

